body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}

.sidebar {
    width: 15%;
    border-style: solid;
    border-color: rgb(227, 227, 227);
    border-width: 0 0.2px 0 0;
    padding: 20px;
}

.content {
    width: 85%;
    padding: 30px;
}

/* bootstrap */
#container-navbar {
    margin-left: 0%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.div1, .div2, .div3, .div4 {
    border: 0.4px solid rgb(211, 211, 211);
    padding: 10px;
}

.div5, .div6 {
    grid-column: span 2;
    border: 0.4px solid rgb(211, 211, 211);
    padding: 10px;
    height: 400px; /* Dostosowanie wysokości wykresów */
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

    